<h2>Admin</h2>

<hr />

<div class="container">
    <div class="row">
        <div class="col-md-3">
            <uib-tabset active="ctrl.activePill" vertical="true" type="pills">
                <uib-tab index="0" heading="Addresses" ng-link="['ADDRESSES']"></uib-tab>
                <uib-tab index="1" heading="Company categories" ng-link="['COMPANYCATEGORIES']"></uib-tab>
                <uib-tab index="2" heading="Contact categories" ng-link="['CONTACTCATEGORIES']"></uib-tab>
                <uib-tab index="3" heading="Industries" ng-link="['INDUSTRIES']"></uib-tab>
            </uib-tabset>
        </div>
        <div class="col-md-7">
            <ng-outlet></ng-outlet>
        </div>
    </div>
</div>
