<!--<h2>Agency</h2>-->

<div class="container agency-wrapper">
    <div class="row">
        <div class="col-md-2">
            <h3>Agencies</h3>
            <ul class="list-group">
                <a href=""
                   ng-hide="ctrl.loadingAgents"
                   class="list-group-item"
                   ng-class="{ 'item-selected' : agency.isSelected }"
                   ng-click="ctrl.selectAgent(agency)"
                   ng-repeat="agency in ctrl.local.agents">
                    {{ agency.name }}
                </a>
            </ul>
            <div ng-show="ctrl.loadingAgents" class="text-center">
                <!--<span class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span>-->
                <img src="../../../Content/icons/ajax-loader-sm.gif" />
            </div>
            <item-editor item-type="'AGENT'"
                         item="ctrl.selectedValues.agent"
                         on-new-clicked="ctrl.onNewAgentClicked(callBack)"
                         on-edit-clicked=""
                         on-delete-clicked="ctrl.deleteAgent(value)"
                         item-changed="ctrl.agentChanged(value)">

            </item-editor>
        </div>
        <div class="col-md-10">
            <div class="row">
                <div class="col-md-4" ng-show="ctrl.selectedValues.agent != null">
                    <h3>Consultants</h3>
                    <ul class="list-group">
                        <a href=""
                           ng-hide="ctrl.loadingConsultants"
                           class="list-group-item"
                           ng-class="{ 'item-selected' : consultant.isSelected }"
                           ng-click="ctrl.selectConsultant(consultant)"
                           ng-repeat="consultant in ctrl.local.consultants">
                            {{ consultant.name }}
                        </a>
                    </ul>
                    <div ng-show="ctrl.loadingConsultants" class="text-center">
                        <!--<span class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span>-->
                        <img src="../../../Content/icons/ajax-loader-sm.gif" />
                    </div>
                    <item-editor item-type="'CONSULTANT'"
                                 item="ctrl.selectedValues.consultant"
                                 on-new-clicked="ctrl.onNewConsultantClicked(callBack)"
                                 on-edit-clicked=""
                                 on-delete-clicked="ctrl.deleteConsultant(value)"
                                 item-changed="ctrl.consultantChanged(value)">

                    </item-editor>
                </div>
                <div class="col-md-8" ng-show="ctrl.selectedValues.consultant">
                    <h3>&nbsp;</h3>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">Conversations</h4>
                        </div>
                        <div class="panel-body" ng-hide="ctrl.loadingConversation">
                            <div ng-show="ctrl.selectedValues.consultant && ctrl.local.conversations && ctrl.local.conversations.length == 0">
                                <h6 class="italic">No conversations</h6>
                            </div>
                            <contact-conversation ng-repeat="item in ctrl.local.conversations"
                                                  conversation="item"
                                                  index="$index"
                                                  open-conversation="ctrl.openConversation(editType, item)"
                                                  delete-conversation="ctrl.deleteConversation(item)">

                            </contact-conversation>
                            <a href="" class="pull-right" ng-click="ctrl.openConversation('NEW')">New</a>
                        </div>
                        <div ng-show="ctrl.loadingConversation" class="text-center">
                            <!--<span class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span>-->
                            <img src="../../../Content/icons/ajax-loader-sm.gif" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row" ng-show="ctrl.selectedValues.consultant != null">
        <div class="col-md-12">
            <h3>Positions</h3>
            <div ui-grid="ctrl.positionGridOptions"
                 class="position-grid"
                 ui-grid-edit
                 ui-grid-row-edit
                 ui-grid-cellNav
                 ng-hide="ctrl.loadingPositions">
                <a href="" class="pull-right" ng-click="ctrl.newPosition()">New</a>
            </div>
            <div ng-show="ctrl.loadingPositions" class="text-center">
                <!--<span class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span>-->
                <img src="../../../Content/icons/ajax-loader-sm.gif" />
            </div>
            <!--<item-editor item-type="'POSITION'"
                         item="ctrl.selectedValues.position"
                         on-new-clicked="ctrl.onNewPositionClicked(callBack)"
                         on-edit-clicked=""
                         on-delete-clicked="ctrl.deletePosition(value)"
                         item-changed="ctrl.positionChanged(value)">

            </item-editor>-->
        </div>
    </div>
</div>

<!--Conversation-->
<script type="text/ng-template" id="contactConversation.html">
    <div class="conversation-container" ng-class="{ 'odd' : (ctrl.index % 2) == 0, 'even' : (ctrl.index % 2) != 0 }">

        <!--ctrl.conversation: {{ctrl.conversation}}-->
        <div class="conve

        <div class="conversation-header">
            <span>{{ ctrl.conversation.time | date }}</span>
        </div>
        <!--</div>-->
        <span class="pull-right">
            <a href="" ng-click="ctrl.open('EDIT', ctrl.conversation)">Edit</a>
            <a href="" ng-click="ctrl.delete(ctrl.conversation)">Delete</a>
        </span>
        <div class="conversation-body">
            <span>{{ ctrl.conversation.notes }}</span>
        </div>
    </div>
</script>

<script type="text/ng-template" id="conversationEdit.html">
    <div class="modal-header">
        <h3 class="modal-title" id="modal-title">Edit conversation</h3>
    </div>
    <div class="modal-body" id="modal-body">

        <form class="form-horizontal">
            <div class="form-group">
                <label for="inputDateTime" class="col-sm-2 control-label">Date</label>
                <div class="col-sm-10">
                    <p class="input-group">
                        <input type="text" class="form-control"
                               ng-model="ctrl.item.time"
                               uib-datepicker-popup="{{ctrl.dateFormat}}"
                               is-open="ctrl.popup1.opened"
                               datepicker-options="dateOptions"
                               ng-required="true"
                               close-text="Close"
                               alt-input-formats="altInputFormats" />
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="ctrl.open1()"><i class="glyphicon glyphicon-calendar"></i></button>
                        </span>
                    </p>
                </div>
            </div>
            <div class="form-group">
                <label for="inputNotes" class="col-sm-2 control-label">Notes</label>
                <div class="col-sm-10">
                    <!--<input type="text" class="form-control" ng-model="ctrl.item.notes" id="inputNotes">-->
                    <textarea class="form-control" ng-model="ctrl.item.notes" id="inputNotes"></textarea>
                </div>
            </div>
        </form>

    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="button" ng-click="ctrl.ok()">OK</button>
        <button class="btn btn-warning" type="button" ng-click="ctrl.cancel()">Cancel</button>
    </div>
</script>
<!--End Conversation-->
