<div class="container home-container">
    <div class="row">
        <div class="col-sm-4">
            <div class="card home-card">
                <img class="card-img-top" src="../../../Content/images/lorumpixel3.jpg" ng-click="ctrl.parent.navigate('AGENCY')">
                <div class="card-block">
                    <h5 class="text-bold">Agency</h5>
                    <h4><span>Manage agents.</span></h4>
                </div>
                <div class="text-center select-button-wrapper">
                    <button class="btn btn-success" ng-click="ctrl.parent.navigate('AGENCY')">Go</button>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card home-card">
                <img class="card-img-top" src="../../../Content/images/lorumpixel4.jpg" ng-click="ctrl.parent.navigate('INTERVIEWS')">
                <div class="card-block">
                    <h5 class="text-bold">Interviews</h5>
                    <h4><span>Manage interviews.</span></h4>
                </div>
                <div class="text-center select-button-wrapper">
                    <button class="btn btn-success" ng-click="ctrl.parent.navigate('INTERVIEWS')">Go</button>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card home-card">
                <img class="card-img-top" src="../../../Content/images/lorumpixel5.jpg" ng-click="ctrl.parent.navigate('DOCUMENTS')">
                <div class="card-block">
                    <h5 class="text-bold">Documents</h5>
                    <h4><span>Manage documents.</span></h4>
                </div>
                <div class="text-center select-button-wrapper">
                    <button class="btn btn-success" ng-click="ctrl.parent.navigate('DOCUMENTS')">Go</button>
                </div>
            </div>
        </div>
        <!--<div class="col-sm-4">
            <div class="card">

                <div class="view overlay hm-white-slight">
                    <img src="http://lorempixel.com/300/200/" />
                    <a href="#">
                        <div class="mask waves-effect waves-light"></div>
                    </a>
                </div>
                <div class="card-block">
                    <h4 class="card-title">Interviews</h4>
                    <p class="card-text">Manage interviews.</p>
                    <a href="#" class="btn btn-primary">Go</a>
                </div>

            </div>

        </div>
        <div class="col-sm-4">
            <div class="card">

                <div class="view overlay hm-white-slight">
                    <img src="http://lorempixel.com/300/200/" />
                    <a href="#">
                        <div class="mask waves-effect waves-light"></div>
                    </a>
                </div>
                <div class="card-block">
                    <h4 class="card-title">Documents</h4>
                    <p class="card-text">Manage documents.</p>
                    <a href="#" class="btn btn-primary">Go</a>
                </div>

            </div>

        </div>-->
    </div>
</div>