/* Sticky footer styles
-------------------------------------------------- */

html,
body {
    height: 100%;
    /* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
#wrap {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    /* Negative indent footer by its height */
    margin: 0 auto -60px;
    /* Pad bottom by footer height */
    padding: 0 0 60px;
}

/* Set the fixed height of the footer here */
#footer {
    height: 60px;
    background-color: #f5f5f5;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

#wrap > .container {
    padding: 60px 15px 0;
}

.container .credit {
    margin: 20px 0;
}

#footer > .container {
    padding-left: 15px;
    padding-right: 15px;
}

code {
    font-size: 80%;
}

.fill-container {
    width: 100%;
    height: 100%;
}

.item-selected {
    background-color: #d4e8f4 !important;
}

.click-able {
    cursor: pointer;
}

.ajax-div {
    margin: auto;
}

/*agency*/
.conversation-container {
    border: solid 1px #468847;
    padding: 5px;
    border-radius: 10px/50px;
    margin-bottom: 5px;
}

    .conversation-container.odd {
        background: #7da6ca;
    }

    .conversation-container.even {
        background: #c3d3de;
    }

.agency-wrapper h3 {
    font-size: 15px;
}

/*common*/
.italic {
    font-style: italic;
}

.position-grid {
    width: 100%;
    height: 250px;
}


/*.waves-effect {
    position: relative;
    cursor: pointer;
    overflow: hidden;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    z-index: 1
}

    .waves-effect .waves-ripple {
        position: absolute;
        border-radius: 50%;
        width: 100px;
        height: 100px;
        margin-top: -50px;
        margin-left: -50px;
        opacity: 0;
        background: rgba(0,0,0,.2);
        background: -webkit-radial-gradient(rgba(0,0,0,.2) 0,rgba(0,0,0,.3) 40%,rgba(0,0,0,.4) 50%,rgba(0,0,0,.5) 60%,rgba(255,255,255,0) 70%);
        background: -o-radial-gradient(rgba(0,0,0,.2) 0,rgba(0,0,0,.3) 40%,rgba(0,0,0,.4) 50%,rgba(0,0,0,.5) 60%,rgba(255,255,255,0) 70%);
        background: -moz-radial-gradient(rgba(0,0,0,.2) 0,rgba(0,0,0,.3) 40%,rgba(0,0,0,.4) 50%,rgba(0,0,0,.5) 60%,rgba(255,255,255,0) 70%);
        background: radial-gradient(rgba(0,0,0,.2) 0,rgba(0,0,0,.3) 40%,rgba(0,0,0,.4) 50%,rgba(0,0,0,.5) 60%,rgba(255,255,255,0) 70%);
        -webkit-transition: all .5s ease-out;
        -moz-transition: all .5s ease-out;
        -o-transition: all .5s ease-out;
        transition: all .5s ease-out;
        -webkit-transition-property: -webkit-transform,opacity;
        -moz-transition-property: -moz-transform,opacity;
        -o-transition-property: -o-transform,opacity;
        transition-property: opacity,-webkit-transform;
        transition-property: transform,opacity;
        transition-property: transform,opacity,-webkit-transform;
        -webkit-transform: scale(0) translate(0,0);
        -moz-transform: scale(0) translate(0,0);
        -ms-transform: scale(0) translate(0,0);
        -o-transform: scale(0) translate(0,0);
        transform: scale(0) translate(0,0);
        pointer-events: none
    }

    .waves-effect.waves-light .waves-ripple {
        background: rgba(255,255,255,.4);
        background: -webkit-radial-gradient(rgba(255,255,255,.2) 0,rgba(255,255,255,.3) 40%,rgba(255,255,255,.4) 50%,rgba(255,255,255,.5) 60%,rgba(255,255,255,0) 70%);
        background: -o-radial-gradient(rgba(255,255,255,.2) 0,rgba(255,255,255,.3) 40%,rgba(255,255,255,.4) 50%,rgba(255,255,255,.5) 60%,rgba(255,255,255,0) 70%);
        background: -moz-radial-gradient(rgba(255,255,255,.2) 0,rgba(255,255,255,.3) 40%,rgba(255,255,255,.4) 50%,rgba(255,255,255,.5) 60%,rgba(255,255,255,0) 70%);
        background: radial-gradient(rgba(255,255,255,.2) 0,rgba(255,255,255,.3) 40%,rgba(255,255,255,.4) 50%,rgba(255,255,255,.5) 60%,rgba(255,255,255,0) 70%)
    }

    .waves-effect.waves-classic .waves-ripple {
        background: rgba(0,0,0,.2)
    }

    .waves-effect.waves-classic.waves-light .waves-ripple {
        background: rgba(255,255,255,.4)
    }

.waves-notransition {
    -webkit-transition: none !important;
    -moz-transition: none !important;
    -o-transition: none !important;
    transition: none !important
}

.waves-button, .waves-circle {
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-mask-image: -webkit-radial-gradient(circle,#fff 100%,#000 100%)
}

    .waves-button, .waves-button-input, .waves-button:hover, .waves-button:visited {
        white-space: nowrap;
        vertical-align: middle;
        cursor: pointer;
        border: none;
        outline: 0;
        color: inherit;
        background-color: transparent;
        font-size: 1em;
        line-height: 1em;
        text-align: center;
        text-decoration: none;
        z-index: 1
    }

.waves-button {
    padding: .85em 1.1em;
    border-radius: .2em
}

.waves-button-input {
    margin: 0;
    padding: .85em 1.1em
}

.waves-input-wrapper {
    border-radius: .2em;
    vertical-align: bottom
}

.btn .fa, .btn-floating, .picker__box, .product-table td, .switch label .lever {
    vertical-align: middle
}*/

.home-container {
    padding-top: 50px;
}

.home-card {
}

.select-button-wrapper {
    margin-bottom: 5px;
}

.card {
    font-size: 1em;
    overflow: hidden;
    padding: 0;
    border: none;
    border-radius: .28571429rem;
    box-shadow: 0 1px 3px 0 #d4d4d5, 0 0 0 1px #d4d4d5;
}

.card-block {
    font-size: 1em;
    position: relative;
    margin: 0;
    padding: 1em;
    border: none;
    border-top: 1px solid rgba(34, 36, 38, .1);
    box-shadow: none;
}

.card-img-top {
    display: block;
    width: 100%;
    height: auto;
}

.card-title {
    font-size: 1.28571429em;
    font-weight: 700;
    line-height: 1.2857em;
}

.card-text {
    clear: both;
    margin-top: .5em;
    color: rgba(0, 0, 0, .68);
}

.card-footer {
    font-size: 1em;
    position: static;
    top: 0;
    left: 0;
    max-width: 100%;
    padding: .75em 1em;
    color: rgba(0, 0, 0, .4);
    border-top: 1px solid rgba(0, 0, 0, .05) !important;
    background: #fff;
}

/*
.waves-input-wrapper.waves-button {
    padding: 0
}

.waves-input-wrapper .waves-button-input {
    position: relative;
    top: 0;
    left: 0;
    z-index: 1
}

.waves-circle {
    text-align: center;
    width: 2.5em;
    height: 2.5em;
    line-height: 2.5em;
    border-radius: 50%
}

.waves-float {
    -webkit-mask-image: none;
    -webkit-box-shadow: 0 1px 1.5px 1px rgba(0,0,0,.12);
    box-shadow: 0 1px 1.5px 1px rgba(0,0,0,.12);
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s
}

.view {
    overflow: hidden;
    position: relative;
    cursor: default
}

    .view .content, .view .mask {
        width: 100%;
        height: 100%;
        position: absolute;
        overflow: hidden;
        top: 0;
        left: 0
    }

    .view img, .view video {
        display: block;
        position: relative
    }

    .view .mask {
        background-attachment: fixed
    }


.btn, .pager li a {
    transition: .2s ease-out
}

.waves-float:active {
    -webkit-box-shadow: 0 8px 20px 1px rgba(0,0,0,.3);
    box-shadow: 0 8px 20px 1px rgba(0,0,0,.3)
}

.waves-block {
    display: block
}
    */
